.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .hyperlink{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    transition:1s;

  }
  .navbar {
    transition:1s;

  }



  .banner-section{
    height: 550px;
    position: relative;
  }
  .quick-link-home{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
.tracking-form-wrapper{
    padding-top: 150px;
}
  .tracking-form {
      max-width: 500px;
      margin: 0 auto;
  }
  .quick-link-single{
    box-shadow: 1px 0.1rem 0.4rem 0 rgb(50 50 50 / 50%);
    background-color: wheat;
    &:hover{
        color: red;
        background-color: blanchedalmond;
        box-shadow: 0 0.2rem 3rem 0.1rem rgb(94 94 94 / 40%);
    }
  }